---
# CSS for the front page
---

@import 'colors';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: url({{ site.baseurl }}/img/s8.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    font: 'open sans';
    font-weight: 400;
}

#floater {
    float: left;
    height: 25%;
    width: 100%;
    margin-bottom: -50px;
}

#front-media {
    max-width: 100%;
    min-height: 300px;
    margin: auto;
    clear: both;
    font-weight: 500;
}

.front-text {
    color: #EEEDEA;
    text-align: center;
    font-weight: 400;
    margin-bottom: -5px;
    text-shadow: 0 0 5px black;
}

.front-detail-text {
    color: #EEEDEA;
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 3px black;
    margin: 0 auto;
    width: 600px;
    border-radius: 5px;
    margin-top: 30px;
}

.registration-text {
    color: #EEEDEA;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: -5px;
    text-shadow: 0 0 5px black;
}

.front-image {
    display: block;
    margin: auto;
}

.btn {
    background: $blue;
    color: white;
    border-radius: 1.5;
    margin: 10px;
}

.navbar-toggler {
    color: white;
}

.btn:hover {
    background: $alt-blue;
    color: black;
}

p {
    margin-top: 20px;
    text-align: center;
}


.nav-link {
    color: white;
}

.nav-item {
    margin-left: 10px
}
.dropdown-menu {
	background-color: rgba(59, 113, 28, 0.8);
}

.dropdown-item {
    color: white;
}

.prim {
    background-color: $blue;
}
@media (min-width: 992px) {
    h1 {
        font-size: 54px;
    }

    h3 {
        font-size: 35px;
    }

    h5 {
        font-size: 22px;
    }

    .dropdown-menu {
        border-radius: 0;
        border: none;
        margin-top: 8px;
        margin-left: -18px;
    }
}

a {
    color: white;
}

a:hover {
    color: whitesmoke;
}

a:focus {
    color: whitesmoke;
}

.dropdown-item:hover {
    color: whitesmoke;
    box-shadow: none;
    background-color: transparent;
}

.navbar-brand {
    box-shadow: none;
}

.navbar-brand:hover {
    box-shadow: none;
}

.navbar-brand:focus {
    box-shadow: none;
}

.front-text {
    line-height: 130%;
}

.main-content {
    background-color: $trans-off-white;

    border: 3px solid $blue;
    border-radius: 3px;

    -moz-border-image: -moz-linear-gradient(top, $blue 0%, $red 100%);
    -webkit-border-image: -webkit-linear-gradient(top, $blue 0%, $red 100%);
    border-image: linear-gradient(to bottom, $blue 0%, $red 100%);

    border-image-slice: 1;

    box-shadow: 3px 3px 6px black;

    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.plain-content-box {
    border-image: none;
    border-color: $blue;
}

/* Bottom Navbar */

#bottom-nav {
    z-index: 100;
    //background-color: rgba(255, 255, 255, .5);
    margin-top: 30px;

    position: fixed;
    bottom: -10px;
    width: 100%;
}

#bottom-nav > * > * > * {
    padding-top: 10px;
}

.navbar-bottom {
    text-align: center;
    color: #787878;
}

.social-media a {
    text-decoration: none;
}

.social-media .fa {
    color: white;
}

.about-soup a {
    color: $red;
    text-decoration: none;
}

.about-soup a:hover,.about-soup a:focus {
    color: #alt-red;
}

#penn-eng {
    margin-top: -5px;
    height: 100px;
}

@media (max-width:767px) {
    #bottom-nav{
        display: none;
    }
}
