---
title: Planning Your Stay
layout: pagecontent
permalink: /accommodations/
---

<style>
.hotel
{
    padding-left: 15px;
    border-left: 5px solid #bbb;
}

.hotel ul
{
    list-style-type: circle;
    margin-left: 2em;
}

.hotel b
{
    color: #444;
}

.hotel h3 a {
    text-decoration: underline;
}
</style>

<div class="main-content">
    <div class="">
        <h2><span>Hotels</span></h2>
        <hr>
    </div>
    <p>
        {% for hotel in site.data.hotels %}
        <div class="hotel">
            <h3>{% if hotel.URL %}<a href="{{ hotel.URL }}">{{ hotel.Name }}</a>{% else %}{{ hotel.Name }}{% endif %}</h3>
            <div><b>Address:</b> <a target="_blank" href="https://www.google.com/maps/search/{{ hotel.Address|uri_escape }}">{{ hotel.Address }}</a></div>
            <div><b>Contact:</b> {{ hotel.Contact }}, <a href="mailto:{{ hotel.Contact_Email }}">{{ hotel.Contact_Email }}</a>{% if hotel.Contact_Number %}, <a href="tel:{{ hotel.Contact_Number }}">{{ hotel.Contact_Number }}</a>{% endif %}</div>
            <div><b>Price:</b> {{ hotel.Rate }}</div>
            {% if hotel.List %}
                <ul>
                    {% for item in hotel.List %}
                    <li><b>{{ item[0] }}:</b> {{ item[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ hotel.Note }}</p>
        </div>
        {% endfor %}
    </p>
    <div class="">
        <h2><span>Food</span></h2>
        <hr>
    </div>
    <p>
        There are so many great places to eat in and around Penn's campus. Whether you are looking for pizza, great Chinese food, killer vegan food, or a quick bite from a halal food truck, you are sure to be satisfied with everything University City has to offer. Did we mention cheesesteak?
    </p>
    <p>
        <a href="https://projects.34st.com/2018/03/dining-guide">34th Street's dining guide</a>
    </p>
    <div class="">
        <h2><span>Things to do</span></h2>
        <hr>
    </div>
    <p>
        Go explore the city! Philadelphia is home to both great historical and pop culture sites. Cross the Schuylkill to see the Philadelphia Art Museum and run up the famous Rocky Steps. Check out City Hall and Logan Square. Head down to Old City to see the Liberty Bell, the oldest continuously inhabited street in America, and enjoy a scoop of ice cream at Franklin’s Fountain. If you have any questions regarding planning things to do in Philadelphia, please feel free to reach out to us at our email.
    </p>
</div>
