---
title: Our Team
layout: pagecontent
permalink: /ourTeam/
---
<div class="main-content">
    <!--
    <div class="">
        <h2><span>2023-2024 Executive Board (Eighth Invitational)</span></h2>
        <div class="row">
            {% assign exec = site.data.team["exec"] %}
            {% for member in exec %}
            <div class="col-sm-6 col-md-4">
                <figure class="figure">
                    <div class="img-hover">
                        {% if member.photoName %}
                        <img src="{{ site.baseurl }}/img/team/2023/{{ member.photoName }}.jpg"
                            class="figure-img img-fluid rounded" alt="A photo of {{ member.Name }}">
                        {% else %}
                        <div class="figure-placeholder rounded"></div>
                        {% endif %}
                        <div class="img-text">
                            {{ member.Bio }}
                            <br />
                            <br />
                            {% if member.Year %}<b>Year:</b> {{ member.Year }}<br />{% endif %}
                            {% if member.Studies %}<b>Studies:</b> {{ member.Studies }}<br />{% endif %}
                            {% if member.Soup %}<b>Favorite Soup:</b>
                            {{ member.Soup }}{% endif %}
                        </div>
                    </div>
                    <figcaption class="figure-caption">
                        <p><center>
                            <b>{{ member.Name }}</b><br />
                            {{ member.Position }} 
                        <center></p>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>
-->
<div class="">
    <h2><span>2023-2024 Executive Board (Eighth Invitational)</span></h2>
    {% assign team = site.data.team["exec"] %}     
    {% for member in team %}
        <li><b>{{ member.Name }}</b> - {{ member.Position }}</li>
    {% endfor %}
</div>

        <p><br><p>     
            
<div class="">
        <h2><span>Past Executive Boards</span></h2>
        <h3>2022-2023 (Seventh Invitational)</h3>
    {% assign team = site.data.team["teamSeven"] %}     
    {% for member in team %}
        <li><b>{{ member.Name }}</b> - {{ member.Position }}</li>
    {% endfor %}
</div>

        <p><br><p>
        
<div class="">
        <h3>2021-2022 (Sixth Invitational)</h3>
    {% assign team = site.data.team["teamSix"] %}     
    {% for member in team %}
        <li><b>{{ member.Name }}</b> - {{ member.Position }}</li>
    {% endfor %}
</div>

        <!--
    <div class="">
        <h2><span>Committee Members</span></h2>
        <div class="row">
            {% assign team = site.data.team["team"] %}
            {% for member in team %}
            {% if member.photoName %}
            <div class="col-sm-6 col-md-4">
                <figure class="figure">
                    <div class="img-hover">
                        <img src="{{ site.baseurl }}/img/team/2022/{{ member.photoName }}.jpg"
                            class="figure-img img-fluid rounded" alt="A photo of {{ member.Name }}">
                        <div class="img-text">
                            {{ member.Bio }}
                            <br />
                            <br />
                            {% if member.Year %}<b>Year:</b> {{ member.Year }}<br />{% endif %}
                            {% if member.Studies %}<b>Studies:</b> {{ member.Studies }}<br />{% endif %}
                            {% if member['Favorite SOUP'] %}<b>Favorite Soup:</b>
                            {{ member['Favorite SOUP'] }}{% endif %}
                        </div>
                    </div>
                    <figcaption class="figure-caption">
                        <p>
                            <b>Name:</b> {{ member.Name }}<br />
                            <b>Position:</b> {{ member.Position }}
                        </p>
                    </figcaption>
                </figure>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <h3>Not Pictured</h3>
    <ul>
        {% for member in team %}
        {% unless member.photoName %}
        <li><b>{{ member.Name }}</b> - {{ member.Position }}</li>
        {% endunless %}
        {% endfor %}
    </ul>
</div>
-->
