---
title: Our Team
layout: pagecontent
permalink: /ourTeam/
---
<div class="main-content">
    <div class="">
        <h2><span>Executive Board</span></h2>
        <div class="row">
            {% assign exec = site.data.team["exec"] %}
            {% for member in exec %}
                {% if member.photoName %}
                    <div class="col-sm-6 col-md-4">
                        <figure class="figure">
                            <img src="{{ site.baseurl }}/img/team/{{ member.photoName }}.jpg" class="figure-img img-fluid rounded" alt="A photo of {{ member.Name }}">
                            <figcaption class="figure-caption"><p>Name: {{ member.Name }}</p><p>Position: {{ member.Position }}</p></figcaption>
                          </figure>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Not Pictured</h3>
        <div class="col-md-8 offset-md-2 text-center">
            {% for member in exec %}
                    {% if member.photoName %}
                    {% else %}
                    {{ member.Name }}, 
                    {% endif %}
            {% endfor %}
        </div>
        <hr>
    </div>
    
    <div class="">
        <h2><span>Event Directors</span></h2>
        <div class="row">
            {% assign team = site.data.team["team"] %}
            {% for member in team %}
                {% if member.photoName %}
                    <div class="col-sm-6 col-md-4">
                        <figure class="figure">
                            <img src="{{ site.baseurl }}/img/team/{{ member.photoName }}.jpg" class="figure-img img-fluid rounded" alt="A photo of {{ member.Name }}">
                            <figcaption class="figure-caption"><p>Name: {{ member.Name }}</p><p>Position: {{ member.Position }}</p></figcaption>
                          </figure>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <h3>Not Pictured</h3>
        <div class="col-md-8 offset-md-2 text-center">
            {% for member in team %}
                    {% if member.photoName %}
                    {% else %}
                    {{ member.Name }}, 
                    {% endif %}
            {% endfor %}
        </div>
        <hr>
    </div>
    
</div>