<!-- Bottom bar -->
<div class="navbar navbar-default navbar-bottom" id="bottom-nav">
    <div class="containter-fluid">
        <div class="row">
            <div class="col-sm-4 about-soup push-sm-4">
                <h6>Science Olympiad at the University of Pennsylvania</h6>
                <h6>The 2nd Penn Invitational - Coming February 17, 2018</h6>
                <h6>Site Created by John Powell</h6>
            </div>
            <div class="col-sm-4 social-media pull-sm-4">
                <h6>Follow Science Olympiad at Penn!</h6>
                <a href="https://www.facebook.com/ScienceOlympiadatUPenn" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-facebook fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="https://scioly.org/forums/viewtopic.php?f=267&t=10990" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-flask fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="mailto:pennscienceolympiad@gmail.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-envelope fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="http://www.soinc.org/" target="_blank"><img src="../img/Science_Olympiad_Logo.png" id="penn-eng"></a>
            </div>
        </div>
    </div>
</div>