<!-- Bottom bar -->
<div class="navbar navbar-default navbar-bottom" id="bottom-nav">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="social-media">
                <a href="https://www.facebook.com/ScienceOlympiadatPenn" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-facebook fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="https://scioly.org/forums/viewtopic.php?f=294&t=18136" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-flask fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="https://www.instagram.com/scienceolympiadatpenn/" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-instagram fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
                <a href="mailto:pennscienceolympiad@gmail.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-envelope fa-stack-1x"></i>
                        <i class="fa fa-square-o fa-stack-2x"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
