<meta charset="UTF-8">
<title>Science Olympiad at Penn</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="keywords" content="Science,Olympiad,Invitational,Penn,University,of,Pennsylvania,SOUP,Invite,Science Olympiad at Penn, Penn Science Olympiad">
<meta name="author" content="John Powell">

<!-- Import Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald:300,500,600,700' rel='stylesheet' type='text/css'>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/logo-square-shadow.png"/>