<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOUP - The Team</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Import Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:500,600,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/jquery.gridder.min.css">

    <link rel="icon" type="image/png" href="../img/logo-square-shadow.png"/>
</head>
<body>

    <!-- Responsive Top Navbar -->
    <div class="navbar navbar-toggleable-md fixed-top" id="top-nav">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars fa-lg"></i></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="../img/logo-long.png" height="30" width="85" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Pre-Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Tournament Details</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarArchivesToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archive</a>
                    <div class="dropdown-menu" aria-labelledby="navbarArchivesToggle">
                        <a class="dropdown-item" href="/archives/2017">2017 Tournament</a>
                        <a class="dropdown-item" href="/archives/photos">Photo Library</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="navbarArchivesToggle">
                        <a class="dropdown-item" href="/archives/2017">Executive Board</a>
                        <a class="dropdown-item" href="/archives/photos">Other Initiatives</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Sponsors</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="offset-sm-1 col-sm-10 offset-xl-2 col-xl-8">

                <!-- Page Title -->
                <div class="jumbotron">
                    <h1 class="align-middle">Other Initiatives</h1>
                </div>

                <!-- Main content -->
                <div class="row main-content">
                    <div class="container">
                        <!-- Gridder navigation -->
                        <ul class="gridder">

                             <!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  -->
                            <li class="gridder-list" data-griddercontent="#content1">
                                <div class="inner-jawn">
                                    <img src="../img/prof-alex.jpg" class="img-fluid rounded-circle">
                                </div>
                            </li>
                            <li class="gridder-list" data-griddercontent="#content2">
                                <div class="inner-jawn">
                                    <img src="../img/prof-alex.jpg" class="img-fluid rounded-circle">
                                </div>
                            </li>
                            <li class="gridder-list" data-griddercontent="#content3">
                                <div class="inner-jawn">
                                    <img src="../img/prof-alex.jpg" class="img-fluid rounded-circle">
                                </div>
                            </li>

                        </ul>

                        <!-- Gridder content -->
                        <div id="content1" class="gridder-content"> Content goes here... </div>
                        <div id="content2" class="gridder-content"> Content goes here... </div>
                        <div id="content3" class="gridder-content"> Content goes here... </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom bar -->
    <div class="navbar navbar-default navbar-bottom" id="bottom-nav">
        <div class="containter-fluid">
            <div class="row">
                <div class="col-sm-4 about-soup push-sm-4">
                    <h6>Science Olympiad at the University of Pennsylvania</h6>
                    Site created by <a href="https://google.com">John Powell</a> <i class="fa fa-copyright"></i> 2017 Science Olympiad at Penn<br>
                    <a href="/locust-walk">Learn more about this picture</a>
                </div>
                <div class="col-sm-4 social-media pull-sm-4">
                    <h6>Follow Science Olympiad at Penn!</h6>
                    <a href="https://www.facebook.com/ScienceOlympiadatUPenn" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-facebook fa-stack-1x"></i>
                            <i class="fa fa-square-o fa-stack-2x"></i>
                        </span>
                    </a>
                    <a href="https://scioly.org/forums/viewtopic.php?t=9874" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-flask fa-stack-1x"></i>
                            <i class="fa fa-square-o fa-stack-2x"></i>
                        </span>
                    </a>
                    <a href="mailto:pennscienceolympiad@gmail.com" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-envelope fa-stack-1x"></i>
                            <i class="fa fa-square-o fa-stack-2x"></i>
                        </span>
                    </a>
                </div>
                <div class="col-sm-4">
                    <h6>Proudly presented in partnership with:</h6>
                    <img src="../img/penn-engineering.png" id="penn-eng">
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery, Tether, Bootstrap js, Font Awesome -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/64209e1097.js"></script>
    <script src="../js/jquery.gridder.js"></script>
    <script>
        $(document).ready(function() {
            //Sets the hr margins to begin just after the section headers end
            $('.mini-header').each(function() {
                var header = $(this).find('span');
                $(this).find('hr').css('margin-left', header.width() + 10);
            });

            // Call Gridder
            $(function() {
                // Call Gridder
                $('.gridder').gridderExpander({
                    scroll: true,
                    scrollOffset: 30,
                    scrollTo: "panel",                  // panel or listitem
                    animationSpeed: 200,
                    animationEasing: "easeInOutExpo",
                    showNav: false,                      // Show Navigation
                    nextText: "Next",                   // Next button text
                    prevText: "Previous",               // Previous button text
                    closeText: "Close",                 // Close button text
                    onStart: function(){
                        //Gridder Inititialized
                    },
                    onContent: function(){
                        //Gridder Content Loaded
                    },
                    onClosed: function(){
                        //Gridder Closed
                    }
                });
            });
        });

    </script>
</body>
</html>